.sidebar_menu_item {
    display: flex;
    align-items: center;
    padding: 5px;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 0 5px 0;
}

    .sidebar_menu_item:hover {
        color: #fff;
        background-color: #4E4E50;
        transition: 0.2s;
    }

    .sidebar_menu_item.logout:hover {
        color: #fff;
        background-color: #C74238;
        transition: 0.2s;
    }

    .sidebar_menu_item.active {
        background-color: #1B9690;
        transition: 0.2s;
    }

    .sidebar_menu_item.logout.active {
        color: #fff;
        background-color: #EB4C42;
        transition: 0.2s;
    }

    .sidebar_menu_item span {
        margin: 0 10px 0 0;
    }

.content {
    padding-top: 1.1rem;
}

.auth_editform {
    padding: 10px;
    background-color: #ECECEC;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
}
.validation_msg{
    font-size:9pt;
}
